################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/password-validator/v16
/.vs
/PasswordValidator/.vs/PasswordValidator
/PasswordValidator/PasswordValidator/bin/Debug/net5.0
/PasswordValidator/PasswordValidator/obj
/PasswordValidator/PasswordValidator.Business/obj
/PasswordValidator/PasswordValidator.Business/bin/Debug/net5.0
/PasswordValidator/PasswordValidator.Business.Tests/bin/Debug/net5.0
/PasswordValidator/PasswordValidator.Business.Tests/obj
/PasswordValidator/PasswordValidator.Api.Tests/bin/Debug/net5.0
/PasswordValidator/PasswordValidator.Api.Tests/obj
